body, #root {
    min-height: 100vh;
}

.flex-grow {
    flex: 1;
}

ol ol {
    list-style-type: lower-latin;
}

ol ol ol {
    list-style-type: lower-roman;
}

.action-btn {
  margin-left: 1em;
  display: inline-block;
}

.players {
  line-height: 2.4em;
}
